In [1]:
 #作業2

In [1]:
school=[["班級","甲班"],["姓名","甘道夫"],["學號","10556"]]

In [2]:
dict(school)

{'姓名': '甘道夫', '學號': '10556', '班級': '甲班'}

In [5]:
school=["98","66","中文"]
dict(school)

{'6': '6', '9': '8', '中': '文'}

In [9]:
class_ntust = {
    "member1" : "甘道夫",
    "member2" : "亞拉岡",
    "member3" : "索倫",
}

In [7]:
class_ntust2 = {
    "member4" : "你",
    "member5" : "我",
    "member6" : "他",
}

In [10]:
class_ntust.update(class_ntust2)

In [11]:
class_ntust

{'member1': '甘道夫',
 'member2': '亞拉岡',
 'member3': '索倫',
 'member4': '你',
 'member5': '我',
 'member6': '他'}

In [12]:
del class_ntust["member3"]

In [30]:
class_ntust

{'member1': '甘道夫',
 'member2': '亞拉岡',
 'member4': '你',
 'member5': '我',
 'member6': '他'}

In [31]:
class_ntust['member1']

'甘道夫'

In [ ]:
class_

In [27]:
first={"a":1,"b":2}
second = {"b":"cat"}
first.update(second)
first

{'a': 1, 'b': 'cat'}

In [28]:
'a' in first

True

In [29]:
first.clear()
first

{}

In [3]:
drinks = {
"item1" : {"珍珠奶茶","紅茶"},
"item2" : {"烏龍奶茶","烏龍茶"},
"item3" : {"蜂蜜紅茶","紅茶"},
}

In [26]:
type(drinks)

dict

In [29]:
drinks['item1']

{'珍珠奶茶', '紅茶'}

In [30]:
x=drinks['item1']
type(x)

set

In [4]:
for name, contents in drinks.items():
    if "紅茶" in contents and not ("珍珠奶茶" in contents):
        print(name)

item3

In [39]:
iron_man_color = "xx"

In [40]:
if iron_man_color == "紅色":
    print("鋼鐵人盔甲是紅色的")
elif iron_man_color == "綠色":
    print("鋼鐵人其實也可以參考浩克的顏色")
elif iron_man_color == "藍色":
    print("鋼鐵人變成藍色小精靈也不錯")
else:
    print("好像沒這種顏色",iron_man_color)

好像沒這種顏色 xx

In [17]:
legend = True

In [18]:
if legend :
    print('是真的')
else :
    print('是假的')

是真的

In [43]:
iron_man = False #True or False
Tony = True #True or False

In [44]:
if iron_man:
    if Tony:
        print('他是鋼鐵人沒錯')
    else:
        print('他是企業家')
else:
    if Tony:
        print('他是花花公子')
    else:
        print('他是個演員')

他是花花公子

In [45]:
some_list = {}
if some_list:
    print('裡面有東西')
else:
    print('裡面是空的')

裡面是空的

In [47]:
count = 1
while count<=10 :
    print(count)
    count +=1

1
2
3
4
5
6
7
8
9
10

In [1]:
while True:
    value = input("integer,please [q to quit]:")
    if value =="q":
        break
    number = int(value)
    if number%2 == 0:
        continue
    print(number, "平方is", number**2)

integer,please [q to quit]:4
integer,please [q to quit]:6
integer,please [q to quit]:999997
999997 平方is 999994000009
integer,please [q to quit]:q

In [21]:
numbers = [1,3,4]
position = 2
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print("找到整除數字，數字：",number)
        break
    position+=1
else:
    print("找不到整除數字")

找到整除數字，數字： 4

In [22]:
numbers = [1,3,5]
position = 0
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print("找到整除數字，數字：",number)
        break
    position+=1
else:
    print("找不到整除數字")

找不到整除數字

In [27]:
marxes=['swim','run','ski']
marxes.append('climb')
marxes

['swim', 'run', 'ski', 'climb']

In [28]:
marxes.pop()

'climb'

In [29]:
marxes

['swim', 'run', 'ski']

In [30]:
marxes=['swim','run','ski']
marxes.insert(0,'climb')
marxes

['climb', 'swim', 'run', 'ski']

In [31]:
marxes.pop(0)

'climb'

In [32]:
marxes

['swim', 'run', 'ski']

In [34]:
x = 7
x == 5

False

In [35]:
5 < x and x < 10

True

In [36]:
5 < x and not x < 10

False

In [39]:
roles = ['⽢道夫', '亞拉岡', '索倫',
'勒苟拉斯', '亞玟']
current = 0
while current <len(roles):
    print(roles[current])
    current += 1

⽢道夫
亞拉岡
索倫
勒苟拉斯
亞玟

In [107]:
roles = ['⽢道夫', '亞拉岡', '索倫',
'勒苟拉斯', '亞玟']
for x in roles :
    print(x)

⽢道夫
亞拉岡
索倫
勒苟拉斯
亞玟

In [43]:
word ="cat"
for text in word:
    print(text)

c
a
t

In [54]:
roles_dict = {"first":"run", "second":"ski", "third":"swim"}
for role, name in roles_dict.items():
    print("順序", role, "運動", name)

順序 first 運動 run
順序 second 運動 ski
順序 third 運動 swim

In [48]:
sports_dict = {"first": "run" ,"second" : "ski" ,"third" : "swim" }

In [57]:
for role, name in roles_dict.items():
    print("順序",role,"運動",name)

順序 first 運動 run
順序 second 運動 ski
順序 third 運動 swim

In [63]:
roles = ['甘道夫']
for role in roles:
    print("魔戒最酷的腳色是誰?答案是:",roles)
    break
else:
    print("根本沒有最酷的腳色")

魔戒最酷的腳色是誰?答案是: ['甘道夫']

In [74]:
days = ["星期一","星期二","星期三","星期四","星期五"]
sports = ["run","ski","climb","tennis","basketball","swim"]
figures = [1,2,3,4,5,6]
for day,sport,figure in zip(days,sports,figures):
    print(day , "去" ,sport,figure,"次")

星期一 去 run 1 次
星期二 去 ski 2 次
星期三 去 climb 3 次
星期四 去 tennis 4 次
星期五 去 basketball 5 次

In [80]:
list(zip(days,sports))

[('星期一', 'run'),
 ('星期二', 'ski'),
 ('星期三', 'climb'),
 ('星期四', 'tennis'),
 ('星期五', 'basketball')]

In [79]:
dict(zip(days,sports))

{'星期一': 'run',
 '星期三': 'climb',
 '星期二': 'ski',
 '星期五': 'basketball',
 '星期四': 'tennis'}

In [86]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [85]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [89]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [90]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list

[1, 2, 3, 4]

In [92]:
number_list = []
for number in range(1,5):
    number_list.append(number)
number_list

[1, 2, 3, 4]

In [93]:
number_list = list(range(1,5))
number_list

[1, 2, 3, 4]

In [100]:
number_list = [number for number in range(1,5)]
number_list

[1, 2, 3, 4]

In [105]:
number_list = [1,2,3,4]
print([number for number in number_list if len(number_list) == 4])

[1, 2, 3, 4]

In [104]:
number_list = [1,2,3,4]
print([number for number in number_list if len(number_list) == 3])

[]

In [106]:
number_list = [number-1 for number in range(1,5)]
number_list

[0, 1, 2, 3]

In [110]:
cells = [(row, '*', col, '=', row*col) for row in range(1,10) for col in
range(1,10)]
for cell in cells:
    print(cell)

(1, '*', 1, '=', 1)
(1, '*', 2, '=', 2)
(1, '*', 3, '=', 3)
(1, '*', 4, '=', 4)
(1, '*', 5, '=', 5)
(1, '*', 6, '=', 6)
(1, '*', 7, '=', 7)
(1, '*', 8, '=', 8)
(1, '*', 9, '=', 9)
(2, '*', 1, '=', 2)
(2, '*', 2, '=', 4)
(2, '*', 3, '=', 6)
(2, '*', 4, '=', 8)
(2, '*', 5, '=', 10)
(2, '*', 6, '=', 12)
(2, '*', 7, '=', 14)
(2, '*', 8, '=', 16)
(2, '*', 9, '=', 18)
(3, '*', 1, '=', 3)
(3, '*', 2, '=', 6)
(3, '*', 3, '=', 9)
(3, '*', 4, '=', 12)
(3, '*', 5, '=', 15)
(3, '*', 6, '=', 18)
(3, '*', 7, '=', 21)
(3, '*', 8, '=', 24)
(3, '*', 9, '=', 27)
(4, '*', 1, '=', 4)
(4, '*', 2, '=', 8)
(4, '*', 3, '=', 12)
(4, '*', 4, '=', 16)
(4, '*', 5, '=', 20)
(4, '*', 6, '=', 24)
(4, '*', 7, '=', 28)
(4, '*', 8, '=', 32)
(4, '*', 9, '=', 36)
(5, '*', 1, '=', 5)
(5, '*', 2, '=', 10)
(5, '*', 3, '=', 15)
(5, '*', 4, '=', 20)
(5, '*', 5, '=', 25)
(5, '*', 6, '=', 30)
(5, '*', 7, '=', 35)
(5, '*', 8, '=', 40)
(5, '*', 9, '=', 45)
(6, '*', 1, '=', 6)
(6, '*', 2, '=', 12)
(6, '*', 3, '=', 18)
(6, '*', 4, '=', 24)
(6, '*', 5, '=', 30)
(6, '*', 6, '=', 36)
(6, '*', 7, '=', 42)
(6, '*', 8, '=', 48)
(6, '*', 9, '=', 54)
(7, '*', 1, '=', 7)
(7, '*', 2, '=', 14)
(7, '*', 3, '=', 21)
(7, '*', 4, '=', 28)
(7, '*', 5, '=', 35)
(7, '*', 6, '=', 42)
(7, '*', 7, '=', 49)
(7, '*', 8, '=', 56)
(7, '*', 9, '=', 63)
(8, '*', 1, '=', 8)
(8, '*', 2, '=', 16)
(8, '*', 3, '=', 24)
(8, '*', 4, '=', 32)
(8, '*', 5, '=', 40)
(8, '*', 6, '=', 48)
(8, '*', 7, '=', 56)
(8, '*', 8, '=', 64)
(8, '*', 9, '=', 72)
(9, '*', 1, '=', 9)
(9, '*', 2, '=', 18)
(9, '*', 3, '=', 27)
(9, '*', 4, '=', 36)
(9, '*', 5, '=', 45)
(9, '*', 6, '=', 54)
(9, '*', 7, '=', 63)
(9, '*', 8, '=', 72)
(9, '*', 9, '=', 81)

In [112]:
print (
... '\n'.join(
... ['\t'.join(
... ['%d*%d=%d' % (j,i,i*j) for i in range(1,10)]
... ) for j in range(1,10)]
... )
... )

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [113]:
word = "老師常常出現在旁邊"
letter_counts = {chinese:word.count(chinese)for chinese in word}
letter_counts

{'出': 1, '在': 1, '師': 1, '常': 2, '旁': 1, '現': 1, '老': 1, '邊': 1}

In [114]:
a_set = {number for number in range(1,6)if number%3 == 1}
a_set

{1, 4}

In [119]:
number_thing = (number for number in range(1,6))
number_thing

In [120]:
for number in number_thing:
    print(number)

1
2
3
4
5

In [123]:
number_list = list(number_thing)

In [124]:
number_list

[]

In [137]:
def do_nothing():
    pass

In [138]:
do_nothing()

In [139]:
def make_a_sound():
    print('在怎麼輸出還是一樣的!!')
make_a_sound()

在怎麼輸出還是一樣的!!

In [140]:
def run_something(func):
    func()

In [144]:
def answer():
    print(42)
answer()

42

In [145]:
run_something(answer)

42

In [153]:
def add_args(arg1, arg2):
    print(arg1+arg2)
add_args(1,1)

2

In [149]:
def run_something_with_args(func, arg1, arg2):
    func(arg1,arg2)
run_something_with_args(add_args,1,2)

3

In [159]:
def run_with_positional_args(func, *args):
    return func(*args)
def sum_args(*args):
    return sum(args)

In [160]:
run_with_positional_args(sum_args, 1, 2, 3, 4)

10

In [161]:
def outer(a,b):
    def inner(c,d):
        return c+d
    return inner(a,b)

In [162]:
outer(4,7)

11

In [163]:
def outer(a,b):
    return inner(a,b)
def inner(c,d):
    return c+d

In [164]:
outer(4,7)

11

In [165]:
def cowsay(saying):
    def inner(quote):
        return "Cowsay:'%s'" % quote
    return inner(saying)

In [166]:
cowsay('Yes')

"Cowsay:'Yes'"

In [193]:
def cowsay(saying):
    def inner():
        return "Cowsay:'%s'" % saying
    return inner

In [198]:
a = cowsay('Yes')
a()

"Cowsay:'Yes'"

In [184]:
def gen_power(base):
    def power(exp):
        return base+exp
    return power

In [185]:
power2 = gen_power(10)

In [186]:
power3 = gen_power(20)

In [191]:
power2(3)

13

In [192]:
power3(2)

22

In [205]:
def edit_story(words, func):
    for word in words:
        print(func(word))

In [206]:
A=['hello','hi','hey','oops']

In [210]:
def cap(word):
    return word.capitalize() + '!'

In [211]:
edit_story(A, cap)

Hello!
Hi!
Hey!
Oops!

In [212]:
def edit_story(words, func):
    for word in words:
        print(func(word))

In [213]:
A=['hello','hi','hey','oops']

In [214]:
edit_story(A,lambda word:
           word.capitalize() + "!")

Hello!
Hi!
Hey!
Oops!

In [215]:
def gcd(m, n):
    if n == 0:
        return m
    else:
        return gcd(n, m % n)

In [216]:
print(gcd(20, 30))

10